/* ini CSS Eksternal */

body {
    background-color: #2fc3ff;
    font-family: Berlin;
}

.main-header > h1 {
    margin: 0px;
    background-color: #002838;
    color: #ffffff;
    padding: 25px;
    text-align: center;
}


main {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.nav-fitur {
    display: flex;
    flex-direction: row;
}

.nav-fitur > a {
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 50%;
    align-content: flex-start;
}

.nav-aktif {
    background-color: #002838;
    color: #ffffff;
}

.nav-nonaktif {
    background-color: #ffffff;
    border: 1px #636363 solid;
    color: #000000;
}


section {
    margin-top: 10px;
    margin-bottom: 10px;
}

.section-header {
    background-color: #002838;
    color: #ffffff;
    padding: 15px;
}

.section-image {
    background-image: url(../assets/persegi-bangun-datar.webp);
    background-size: cover;
    background-position: center;
    width: 100px;
    height: 100px;
    justify-self: center;
}

.section-perhitungan {
    border: 1px solid;
    height: 300px;
}


footer {
    text-align: center;
    color: #ffffff;
}